---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PageHero from '../../../components/PageHero.astro';
---

<BaseLayout title="Starter Kit — Tango DJ" description="A walkthrough for new tango DJs. Set up your software, organize your library, and build your first tandas.">
  <article class="article-page">
    <PageHero title="Starter Kit" lead="Everything you need to know and have to start tango DJing." />

    <div class="article-body">
      <div class="container narrow">
        <div class="prose">

<div class="welcome-box">
  <p>Hello dear aspiring tango DJ!</p>
  <p>This is a useful resource to help you get started on your tango DJ journey. 
  <a href="/dj/register/" class="btn btn-primary">Join Here</a> for a music starter pack and to stay up to date on new resources!
</div>

<nav class="toc">
  <h3>In this guide</h3>
  <ol>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#brief-history">Brief History of Tango Music</a></li>
    <li><a href="#getting-music">Where to Get Music</a></li>
    <li><a href="#dj-software">Set up Your DJ Software</a></li>
    <li><a href="#organizing">Organize Your Music</a></li>
    <li><a href="#building-tandas">Building Tandas</a></li>
  </ol>
</nav>

<h2 id="overview">Overview</h2>
<p>This guide helps you get set up for success with DJing. You can't skip 
the countless hours of listening and practice required to become a great tango DJ.
But we can give you the right approach, tools, and information so you can make the most of
the hours you do spend. </p>

<p>Tango DJs are conduits, connecting music the past to dancers in the present.
   A good DJ can shape the emotions and experience in the room, providing a unique and memorable experience.
   There are many factors to consider, from deciding which track to play, to which tracks to buy in the first place. 
</p>
<p>   
   The figure below shows the full process music takes from the orchestra's instruments to the dancers' ears.
   You will want to understand each step in the process, because the end result is only as strong as the weakest link in the chain. 
</p>   
<img src="/images/Stages of Music.png" alt="Stages of Music" class="hero-image" />
<ol>
  <li>Orchestra performs. &rarr;<a href="/dj/resources/">See Discographies </a></li>
  <li>Sound recorded to produce master and shellacs. &rarr;<a href="/dj/history-of-tango-music/">See History of Tango Music</a></li>
  <li>Recording transferred to digital format. &rarr;<a href="#getting-music">See Getting Music </a></li>
  <li>Files played from your computer. &rarr;<a href="#dj-software">See DJ Software/a></li>
  <li>Music goes out from speakers and into the milonga.</li>
</ol>

<h2 id="brief-history">Brief History</h2>
<p>
Knowing a bit of tango history can is helpful for knowing why some songs fit better together than others. 
You can find a lot of great information and stories at our sister site  <a href="https://www.notasdeoro.com/">Notas De Oro</a>.
Notas De Oro explores the history and music of the Golden Age of tango orchestras. 
Learn to recognize the orchestras, understand the meaning behind the lyrics, and discover the the 
history and the dramatic stories behind the tangos we love to listen and dance to. 
</p>
<p>
Two songs from the same orchestra may sound very different if it was recorded with 
different technology, mastered from a different recording studio, 
or performed by different musicians. Knowing a few historical facts can make a big difference
in being able to build coherent tandas. 
</p>
<p>
As part of <a href="/dj/resources/">Discographies&rarr;</a>, we have compiled
information on the recording studio and recording technology used. When the information 
is available, we have also added the orchestra members for the recordings. We have also
added a 'Grouping' column that segments a discography into various eras, which can be useful
for identifying songs that would fit well together in a tanda.    
</p>
<p>
The books by <a href="https://www.milongapress.com/">Michael Lavocah</a> are useful resources for 
understanding tango orchestras, musicians, and the eras of tango. The article below is another 
useful resource for understanding the various eras of tango music. 
</p>
<a href="/dj/history-of-tango-music/" class="article-link">
  <img src="/articles/history-of-tango-music/Orquestras-and-Recordings-per-year-1024x614.png" alt="Tango orchestras and recordings by year" class="article-link-img" />
  <div class="article-link-body">
    <h3>The History of Tango Music</h3>
    <p>A deep dive into the history of tango music.</p>
    <span class="article-link-cta">Read Article &rarr;</span>
  </div>
</a>

<h2 id="getting-music">Getting Music</h2>

<h3>Why Audio Quality Varies</h3>
<p>
Most of the tango music we dance to is from the 1930s, 40s, and 50s; well before digital files.
At some point, the music on your computer was digitized from the original analog medium.
But how this was done makes a big difference in audio quality.
When tango music again became popular in the 1990s, the record companies wanted to
re-release albums. In some cases, they had the original masters, but in many cases,
the masters were destroyed in the 1960s to save space.
That means there is no official recording of many tango records.
<strong>Important: Not all versions of the same recording are of equal quality!</strong>
</p>
<p>
<ul>
  <li>The original records used to transfer to digital were not always the best quality</li>
  <li>The correct pitch was not always maintained</li>
  <li>The transfers were not always done correctly</li>
  <li>Effects like reverb were added</li>
  <li>Equalization to reduce the hiss dulled some of the musical dynamics</li>
</ul>

<div class="callout callout-tip">
  <strong>A Note on Hiss!</strong>
  <p>Some of the best and most beloved tango recordings have audible hiss &mdash; it's a natural artifact of the original recording process.
  If a track has too little hiss, it likely means high-frequency detail and musical dynamics were stripped away,
  leaving the track sounding dull and lifeless. And not all hiss removal are the same.
  Some DJs recommend using EQ to reduce hiss, but this can result in the music sounding dull and lifeless.
  This is why we created Hisstory, a plug in that can reduce hiss without sacrificing music quality.
  You can test it out with a two day free trial.</p>
  <div class="callout-action">
    <a href="/dj/software/#hisstory" class="btn btn-primary">Try Hisstory &rarr;</a>
  </div>
</div>

<h3>Building Your Collection</h3>
<p>
Most DJs start their music collection by a more experienced DJ sharing some of their files.
This can be a great way to start but also know that many of the best quality files need to
be purchased. You do not need to build out your library all at once, but instead can expand it over time.
The website <a href="https://www.tango-dj.at/">TangoDJ.at</a> provides a large database
on the different recordings available, and provides information on the relative quality.
</p>

<h3>High-Quality Transfers</h3>
<p>
A few organizations have been going through the meticulous process of
restoring tango collections, with the goal of preserving sound quality and dynamics.
The ones most commonly mentioned are <a href="https://tangotimetravel.be/">Tango Time Travel</a>,
 <a href="https://tangotunes.com/">Tango Tunes</a>, and
 <a href="https://tangosparks.com/">Tango Sparks</a>. These are often considered the gold standard
 for tango DJs. The files can be expensive, but the cost reflects the care that went into producing them.
 Building up a library that at least includes a few transfer files of favorite songs will
 be well worth the investment.
</p>
<p>
Albums by Club Tango Argentino and Audio Park are other names that are considered high quality.
These recordings can be hard to find, but are well worth treasuring if you can find them.
Some of the recordings from studios are also high quality. A few names to be on the look out for are:
<em>From Argentina to the World</em>, <em>Collecion de 78</em>, <em>Archivo de Victor</em>, <em>Archivo de Columbia</em>, and <em>Reliquias</em>.
</p>

<h3>Starting Sets</h3>
The number of tango songs can be overwhelming. It can be hard to know where to even start.  
That is why we have curated two starting sets of around 250 songs. The first set covers tangos from the 
Big Four (Juan D'Arienzo, Carlos Di Sarli, Aníbal Troilo, Osvaldo Pugliese), and the second set brings in
other key orchestras along with valses and milongas. Each set includes curated groupings from which to build
tandas with.   

<div class="set-cards">
  <div class="set-card">
    <h3>Starting Set I</h3>
    <p>Tangos by the big 4: <strong>Juan D'Arienzo</strong>, <strong>Carlos Di Sarli</strong>, <strong>An&iacute;bal Troilo</strong>, and <strong>Osvaldo Pugliese</strong>.</p>
    <a href="/dj/starter-kit/set-lists/" class="btn btn-primary">View Set List I &rarr;</a>
  </div>
  <div class="set-card">
    <h3>Starting Set II</h3>
    <p>Additional orchestras along with <strong>Valses</strong> and <strong>Milongas</strong>: Laurenz, Biagi, De Angelis, Cal&oacute;, Tanturi, Donato, Canaro, and Fresedo.</p>
    <a href="/dj/starter-kit/set-lists/" class="btn btn-primary">View Set List II &rarr;</a>
  </div>
</div>

<p>For a broader list of songs to start building your library, check out <a href="https://docs.google.com/spreadsheets/d/1i2q6Jrqo8-04sIqrWPmGHNL_RkgxUDh0os4KhIVR5_Y/edit"><strong>DJ Michael Plaks&rsquo; 500 Tango Songs</strong></a> &mdash; a great resource of 500 tango songs that work well in the milonga.</p>

<div class="register-reminder">
  <p><a href="/dj/register/" class="btn btn-primary">Join Here</a> for a music starter pack and stay up to date on new resources!</p>
</div>
<h2 id="dj-software">DJ Software</h2>

<p>Tango DJs use a range of different software. The website <a href="https://tangodjsforgoodsound.info/technology/">Tango DJs for Good Sound</a> shows what a range of tools DJs use. A few of the most popular software are:</p>
<ul>
  <li><a href="https://virtualdj.com/">Virtual DJ</a></li>
  <li><a href="https://www.ricciadams.com/projects/embrace/">Embrace (only for Mac)</a></li>
  <li><a href="https://www.native-instruments.com/">Traktor</a></li>
  <li><a href="https://mixxx.org/">Mixxx</a></li>
  <li><a href="https://getmusicbee.com/">Music Bee</a></li>
</ul>
<p>I am biased in which audio player I recommend, given I created <a href="/dj/software/#tigertango">TigerTango</a>, a Virtual DJ interface designed specifically for tango DJs. It is free, and tango DJs around the world are using it, including several of the most respected tango DJs, so I feel confident that you would be in good hands using it.</p>

<p>For downloads, installation, and setup instructions, see our <a href="/dj/software/#tigertango"><strong>DJ Tools page</strong></a> and the <a href="/dj/software-setup/"><strong>DJ Software Setup guide</strong></a>.</p>
<p>
Something especially useful about Tiger Tango and Virtual DJ is that it allows effects plugins to be integrated
directly into your interface. This allows you to EQ your music, or integrate any of the plugins available on the
<a href="/dj/software/">software page</a> which are specifically designed for tango DJs. You can also display video to a projector.
Our built in video integration allows you to display milonga-specific information such as the current position in the tanda. 
</p>

<h2 id="organizing">Organizing Your Music</h2>

<p>Taking a few hours to structure your music correctly at the start will save you 
countless hours of work and frustration in the future.</p>
<p>My friend Eric Heleno has a whole lecture about the best approaches to organizing your tango library. He does tango workshops and consults,
so if you want to learn from the best, you can reach him at <a href="mailto:erichetango@gmail.com">erichetango@gmail.com</a>.</p>

<p>One of the most important decision is how you want the general folder structure of your tango library. 
Some DJs like to organize by artists and albums, others like to split by genre, and singer. 
One example of folder structure could be would be:</p>
<pre>
<strong>Tango/</strong>
  D'Arienzo/
    Instrumental 1935-1937/
    Echague 1938-1939/
    Maure 1941-1944/
    Instrumental 1950-1952/
  Di Sarli/
    Instrumental 1939-1941/
    Rufino 1939-1941/
    ...
<strong>Vals/</strong>
    ...
  </pre>

<p>
But there are many other valid approaches. You can also have one structure for the files
on your computer and build another structure in your DJ software. What is important 
is to have a system that works for you</p>

<h3>Tagging Your Music</h3>

<p>A good DJ requires good metadata. Having your files with the correct 
artist, singer, year, genre, ect. helps you organize your tracks and build the right tanda. 
That is why we created <a href="/dj/software/#tigertag"><strong>TigerTag</strong></a> a tool
that helps you quickly tag your files with the correct information. 
Instead of spending hours painstakingly tagging your files manually, use that time 
listening to music, building tandas, and perfecting your craft.</p>

<h2 id="building-tandas">Building Tandas</h2>
<p>
There are no hard rules for building a tanda, but there are some general guidelines. 
Dancers expect some amount of consistency within a tanda, and they can get frustrated when
too many expectations are not met. OTV from the early 30's, and Pugliese from the late 60's can 
each make great tandas, but would not be great to include both within a single tanda. 
Some general guidelines are:
</p>
<ul>
  <li>Same bandleader</li>
  <li>Same singer (or instrumental)</li>
  <li>Same genre</li>
  <li>Same era (musicians, recording technology, record label)</li>
</ul>

<p>The <a href="/dj/starter-kit/set-lists/">Set lists</a> provided are broken into 
groupings of 8-10 tracks each. Each group consists of tracks that could work well in a tanda. 
</p>
<div class="callout callout-tip">
  <strong>Exercise for New DJs</strong>
  <p>A good exercise for newer DJs is to go through the list of starting music and create
  one or two tandas from each group. This will give you a good starting set of tandas to work from
  and will serve you well on your tango journey.</p>
</div>
 
<p>
<a href="/dj/software/#tigertanda"><strong>TigerTanda</strong></a> is a free tool we 
have developed that helps you build out tandas. It uses our large database of songs
to suggests complementary tracks based on your settings. The tool integrates directly into
Virtual DJ and is a great asset for tanda construction. 
Check it out on the <a href="/dj/software/#tigertanda">DJ Tools page</a>.
</p>

<p class="contact-note">This guide is a work in progress. Feedback, questions, and suggestions are welcome at <a href="mailto:TangoToolkit@gmail.com">TangoToolkit@gmail.com</a>.</p>

        </div>
      </div>
    </div>
  </article>
</BaseLayout>

<style>
  .hero-image {
    width: 100%;
    border-radius: var(--radius-lg);
    margin-bottom: 2rem;
  }

  /* ===== Article link card ===== */
  .article-link {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background: white;
    border: 1px solid var(--color-slate-200);
    border-radius: var(--radius-lg);
    overflow: hidden;
    transition: all 0.2s;
    margin: 1.5rem 0;
  }

  .article-link:hover {
    border-color: var(--color-orange-400);
    box-shadow: var(--shadow-md);
  }

  .article-link-img {
    max-width: 240px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: block;
  }

  .article-link-body {
    padding: 1rem 1.5rem 1rem 0;
  }

  .article-link h3 {
    margin: 0 0 0.35rem;
    font-size: 1.1rem;
  }

  .article-link p {
    margin: 0 0 0.75rem;
    color: var(--color-slate-600);
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .article-link-cta {
    font-weight: 600;
    color: var(--color-primary);
    font-size: 0.95rem;
  }

  .welcome-box {
    background: linear-gradient(135deg, var(--color-orange-50) 0%, white 100%);
    border: 2px solid var(--color-orange-300);
    border-radius: var(--radius-lg);
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
  }

  .welcome-box p {
    margin: 0 0 0.75rem;
    font-size: 1.05rem;
  }

  .prose h2 {
    margin: 2.5rem 0 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-slate-200);
  }

  .prose h3 { margin: 2rem 0 0.75rem; }

  .table-scroll {
    overflow-x: auto;
    margin: 1.5rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }

  thead { background: var(--color-orange-50); }

  th, td {
    padding: 0.6rem 0.75rem;
    border: 1px solid var(--color-slate-200);
    text-align: left;
    vertical-align: top;
  }

  th { font-weight: 600; }

  .set-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    margin: 1.5rem 0;
  }

  .set-card {
    background: white;
    border: 1px solid var(--color-slate-200);
    border-radius: var(--radius-lg);
    padding: 1.5rem;
    transition: all 0.2s;
  }

  .set-card:hover {
    border-color: var(--color-orange-400);
    box-shadow: var(--shadow-md);
  }

  .set-card h3 { margin: 0 0 0.5rem; font-size: 1.1rem; }

  .set-card p {
    margin: 0 0 1rem;
    font-size: 0.9rem;
    color: var(--color-slate-600);
  }

  pre {
    background: var(--color-slate-100);
    color: var(--color-slate-800);
    padding: 1rem;
    border-radius: var(--radius-md);
    overflow-x: auto;
    font-size: 0.85rem;
    line-height: 1.6;
  }

  .exercise-list > li {
    margin-bottom: 1.5rem;
  }

  .exercise-list > li > p {
    margin: 0.25rem 0 0.5rem;
    color: var(--color-slate-600);
    font-size: 0.95rem;
  }

  .exercise-list ol {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }

  .callout-action {
    text-align: center;
    margin-top: 1rem;
  }

  .register-reminder {
    background: var(--color-orange-50);
    border: 1px solid var(--color-orange-200);
    border-radius: var(--radius-md);
    padding: 1rem 1.25rem;
    text-align: center;
    margin: 2rem 0;
  }

  .register-reminder p { margin: 0; }

  .resource-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .resource-links li {
    margin-bottom: 0.75rem;
    padding-left: 1.25rem;
    position: relative;
  }

  .resource-links li::before {
    content: "\2192";
    position: absolute;
    left: 0;
    color: var(--color-orange-500);
  }

  @media (max-width: 640px) {
    .article-link {
      flex-direction: column;
    }

    .article-link-img {
      max-width: 100%;
    }

    .article-link-body {
      padding: 1rem 1.5rem 1.5rem;
    }
  }
</style>
